@use "../../../../index.scss" as *;

.projects {
  .proyectsHead {
    width: 100%;
    display: flex;
    flex-direction: row;

    .ver-mas {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 23%;
      font-weight: var(--fw-4);

      a {
        text-decoration: none;

        &:hover {
          color: var(--DM-Title);
          font-weight: var(--fw-4);
        }

        .dark-theme & {
          color: $DM-Title;
        }

        .light-theme & {
          color: $LM-Title;
        }
      }
    }
  }

  .proyect-list {
    display: flex;
    gap: 5%;
    padding: 4rem 0;
    justify-content: center;

    // Media queries
    @media (max-width: 599px) {
      width: 100%;
      flex-direction: column;
      gap: 1%;
      padding: 2.5rem 0;
    }

    @media (min-width: 600px) and (max-width: 991px) {
      width: 100%;
      flex-direction: column;
      gap: 3%;
      justify-content: center;
      flex-grow: 2;
      margin-top: 2rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      width: 100%;
      padding: 0;
      flex-wrap: wrap;
      gap: 1%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    @media (min-width: 1200px) {
      width: 100%;
      gap: 1%;
      flex-wrap: wrap;
    }

    .project {

      position: relative;
      width: 45%;
      overflow: hidden;
      display: flex;
      margin: 1rem;

      img {
        border-radius: 1.75rem;

      }

      @media (max-width: 599px) {
        width: 100%;
        border: 1px solid $primary-color;
        border-radius: 1.75rem;

        flex-wrap: wrap;
        padding: 0;
        position: static;
        overflow: visible;
        margin-bottom: 2rem;
        margin: 1rem 0;

        img {
          filter: none;
          border-radius: 1.75rem 1.75rem 0 0
        }

        .dark-theme & {
          background-color: $BgDark;
        }

        .light-theme & {
          background-color: transparent;
        }
      }

      @media (min-width: 600px) and (max-width: 991px) {
        width: 85%;
        flex-wrap: wrap;
        padding: 0;
        position: static;
        overflow: visible;
        margin: 0 auto;
        background: transparent;
        gap: .9%;

        border: 2px solid $primary-color;
        border-radius: 1.75rem;

        margin-bottom: 2rem;

        img {
          filter: none;
          border-radius: 1.75rem 1.75rem 0 0
        }

        .dark-theme & {
          background-color: $BgDark;
        }

        .light-theme & {
          background-color: $BgLight;
          background: transparent;

        }
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        img {
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      @media (min-width: 1200px) {
        width: 45%;
        flex-wrap: wrap;
      }

      img {
        transition: filter 0.3s;
        height: auto;

        @media (max-width: 599px) {
          width: 100%;
        }

        @media (min-width: 600px) and (max-width: 991px) {}

        @media (min-width: 992px) and (max-width: 1199px) {
          height: 100%;
        }

        @media (min-width: 1200px) {}
      }

      &:hover {
        filter: brightness(90%);

        .content {
          transform: translateY(0);
        }
      }

      .content {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: $DM-Title;


        .light-theme & {
          color: $DM-Title;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
        transform: translateY(100%);
        transition: transform 0.5s;
        padding: 1.5rem;

        h2 {
          font-size: 1.25rem;
          font-weight: 700;
          text-align: left;
        }

        p {
          font-size: 0.8rem;
          text-align: left;
          font-weight: 400;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 5%;
          padding: 0.8rem 0rem;
          flex-wrap: wrap;

          li {
            border: 0.13rem solid $primary-color;
            border-radius: 0.75rem;
            padding: 0.25rem 0.5rem;
            font-size: 0.8rem;
            font-weight: 700;

            .dark-theme & {
              color: $DM-Title;
            }


          }
        }

        .links {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 4%;


          @media (max-width: 599px) {
            margin-left: 0.4rem;
          }

          @media (min-width: 600px) and (max-width: 991px) {
            margin-left: 0.4rem;

          }

          @media (min-width: 992px) and (max-width: 1199px) {}

          @media (min-width: 1200px) {}

          a {
            color: $DM-Title;
            font-weight: 700;
            text-decoration: none;
            font-size: .85rem;

            .light-theme & {
              color: $LM-Title;
            }

            &:hover {
              color: $primary-color;
            }
          }
        }

        @media (max-width: 599px) {
          position: static;
          transform: translateY(0);
          background-color: transparent;
          display: block;
          text-align: center;
          width: 100%;




          .dark-theme {
            color: $DM-Title;
          }

          .light-theme {
            color: $LM-Title;
          }
        }

        @media (min-width: 600px) and (max-width: 991px) {
          position: static;
          transform: translateY(0);
          text-align: center;
          width: 100%;

          border-radius: 1.75rem;


          .dark-theme {
            color: $DM-Title;
          }

          .light-theme {
            color: $LM-Title;


          }
        }

        @media (min-width: 992px) and (max-width: 1199px) {
          position: static;
          transform: translateY(0);
          text-align: center;
          width: 100%;

          .dark-theme {
            color: $DM-Title;

          }

          .light-theme {
            color: $LM-Title;


          }
        }

        @media (min-width: 1200px) {
          border-radius: 1.75rem;
          background-color: $BgDark;
          opacity: .9;
          backdrop-filter: blur(10px);
        }
      }
    }
  }
}