// ─── Theme Toggle Button ──────────────────────────────────────────────────────

@use "@/styles/abstracts" as *;

.toggle-theme,
.toggle-system-theme {
  @include flex-center;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  color: $color-primary;
  font-size: 1.4rem;
  cursor: pointer;
  @include transition;

  &:hover {
    font-size: 1.5rem;
    transform: scale(1.05);
  }

  &:active { color: $color-primary; }
}