// ─── About Section ────────────────────────────────────────────────────────────

@use "@/styles/abstracts" as *;

.sector {
  padding: 3rem 0;
  @include flex-column;

  @include respond-between(mobile, tablet) { width: 100%; }

  .aboutme {
    @include flex-column;
    justify-content: center;

    p {
      padding: 0.5em;
      width: 100%;
      text-align: left;
    }

    @include respond-between(mobile, tablet) {
      display: flex;
      width: 100%;
    }

    @media (min-width: 1200px) { width: 100%; }
  }
}