.carousel {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-top: 5rem;

  .carousel-images {
    display: flex;
    transition: transform 1s;
    will-change: transform;
    /* Para mejorar el rendimiento */

    &>img {
      height: 5.7rem;
      object-fit: contain;
      cursor: pointer;
      opacity: 1;
      flex: 0 0 auto;
      /* Las imágenes no se redimensionan */

      &:not(:last-child) {
        margin-right: 5rem;
        /* Espacio entre imágenes */
      }
    }
  }
}