// ─── Error Page ───────────────────────────────────────────────────────────────

@use "@/styles/abstracts" as *;

#error-page {
  margin: 0 auto;
  @include flex-column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-grow: 20;
}