@use "../../../../index.scss" as *;

.menu-header {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;

    li {
      list-style: none;
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        border-radius: 20px;
        font-weight: 600;
        display: inline-block;
        position: relative;

        &:hover {
          text-decoration: none;
          color: $primary-color;

          .hashTag {
            color: #fff;

            .light-theme & {
              color: $primary-color;
            }
          }
        }

        /* comprobart para migrar */
        .dark-theme & {
          color: $DM-Title;
        }

        .light-theme & {
          color: $LM-Title;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: -2px;
          left: 0;
          background-color: $primary-color;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &:hover .es {
        display: inline-block;
        opacity: 1; // Add opacity transition for smooth appearance
      }
    }
  }

  // Media queries
  @media (max-width: 599px) {
    display: none; // ocultar el menú en pantallas pequeñas
  }

  @media (min-width: 600px) and (max-width: 991px) {
    //width: 20%;
    display: none; // establecer un ancho en pantallas medianas
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    display: block; // ocultar el menú en pantallas grandes
  }

  @media (min-width: 1200px) {
    display: block; // ocultar el menú en pantallas extra grandes
  }
}
