/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
 */
/* variables */
:root {
  --color-primary: #ff8906;
  --color-secondary: #f25f4c;
  --color-tertiary: #e8005c;
  --color-fourth: #6700ff;
  --color-fifth: #00e8d8;
  --DM-Title: #fffffe;
  --LM-Title: #002654;
  --parrafos: #a7a9be;
  --BgLight: #f5f5f5;
  --BgDark: #0f0e17;
  --padding-1: 1em;
  --padding-2: 2em;
  --padding-3: 1.5em;

  --font-1: "Fira Code", monospace;
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;
}

$primary-color: var(--color-primary);
$secondary-color: var(--color-fourth);
$DM-Title: var(--DM-Title);
$LM-Title: var(--LM-Title);
$BgDark: var(--BgDark);
$BgLight: var(--BgLight);

body {
  font-family: var(--font-1);
}

/* RESET DE CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Additional reset CSS rules */
html,
body {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  // text-wrap: pretty; // This is a new CSS feature and may not be supported by all browsers.
}
