@use "../../../../index.scss" as *;

.sector {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;

  // Media queries
  @media (max-width: 599px) {}

  @media (min-width: 600px) and (max-width: 991px) {
    width: 100%;
  }

  @media (min-width: 992px) and (max-width: 1199px) {}

  @media (min-width: 1200px) {}

  .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 0.5em;
      width: 100%;
      text-align: left;
    }

    // Media queries
    @media (max-width: 599px) {}

    @media (min-width: 600px) and (max-width: 991px) {
      flex-direction: column;
      display: flex;
      width: 100%;
    }

    @media (min-width: 992px) and (max-width: 1199px) {}

    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}