// ─── Hero Section ─────────────────────────────────────────────────────────────

@use "@/styles/abstracts" as *;

.hero-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @include respond-to(mobile) {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    margin-top: 7.5vh;
    margin-bottom: 5rem;
  }

  @include respond-between(mobile, tablet) {
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  @include respond-between(tablet, desktop) {
    margin-top: 0rem;
    height: 90vh;
  }

  @media (min-width: 1200px) {
    margin-top: 4rem;
    height: 90vh;
  }

  .hero-right {
    width: 50%;
    padding: 3rem;
    @include flex-column;
    justify-content: center;
    align-items: center;

    @include respond-to(mobile) {
      width: 100%;
      padding: 2rem 0 0.5rem 1rem;
      position: relative;
      justify-content: start;
      align-items: baseline;
    }

    @include respond-between(mobile, tablet) {
      padding: 0rem;
      width: 100%;
    }

    img {
      border-radius: 50%;
      border: solid 0.2rem $color-primary;
      width: 19rem;
      aspect-ratio: 1;

      @include respond-to(mobile) { width: 6rem; }
    }

    .status {
      @include flex-center;
      border: solid 1.75px;
      border-radius: 2.5rem;
      padding: 0.25rem 0.85rem;
      color: #166534;
      background-color: #dcfce7;
      margin-top: -1rem;
      @include theme-color(border-color, $DM-Title, $LM-Title);

      @include respond-to(mobile) {
        width: auto;
        position: relative;
        left: 6.5rem;
        bottom: 3rem;
        font-size: 0.95rem;
      }
    }
  }

  .hero-left {
    width: 50%;
    padding: 3em;
    @include flex-column;
    justify-content: center;

    @include respond-to(mobile) {
      width: 100%;
      order: 1;
      padding: 0;
    }

    @include respond-between(mobile, tablet) {
      align-items: center;
      width: 100%;
      order: 1;
    }

    @include respond-between(tablet, desktop) {
      padding: 1rem;
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      justify-content: center;
      padding: 2rem;
    }

    h1 {
      font-weight: $fw-semibold;
      font-size: 2em;
      @include theme-color(color, $DM-Title, $LM-Title);

      @include respond-to(mobile) { font-size: 1.75rem; }
    }

    p {
      margin-top: 1em;
      font-weight: $fw-semibold;
      font-size: 1.25rem;
      @include theme-color(color, $DM-Title, $LM-Title);
    }

    .social-buttons {
      margin-top: 1.5rem;
      display: flex;
      gap: 8%;
      font-size: 1rem;

      a { text-decoration: none; }

      .social-btn {
        @include flex-center;
        border: solid 0.12rem;
        border-radius: 1.25rem;
        padding: 0.35rem 1rem;
        background-color: transparent;
        cursor: pointer;
        width: 10rem;
        gap: 5%;
        text-decoration: none;
        font-weight: $fw-semibold;
        @include theme-color(color, $DM-Title, $LM-Title);

        button {
          background-color: transparent;
          border: none;
          color: white;
          &:hover { color: $color-primary; }
        }

        &:hover {
          @include transition;
          cursor: pointer;

          .dark-theme & { color: $color-primary; }
          .light-theme & {
            color: $color-primary;
            border: $color-primary solid 0.12rem;
          }
        }

        *:hover { @include transition; }
      }
    }
  }
}
