@use "../../../index.scss" as *;

.hashTag {
  color: $primary-color;
  margin-right: 0.3rem;
}

.link-to {
  text-decoration: none;
}

// Header.scss
.header-container {
  display: flex;
  justify-content: center;

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 2rem 0.25rem 2rem;
    position: fixed;
    width: 80%;
    text-align: center;
    transition: top 0.3s ease-in-out;
    border-radius: 1.25rem;
    margin-top: 2px;
    z-index: 1000;

      .dark-theme & {
        background-color: var(--BgDark);
      }
    


      .light-theme & {
        background-color: var(--BgLight);
        border-bottom: 2px solid $primary-color;
      }
    


    @media (max-width: 599px) {
      width: 95%;
    }

    .logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      padding: 0.75rem 0.25rem 0.75rem 0.25rem;

      .logo-icon {
        margin-right: 0.75rem;
        color: $primary-color;
        font-size: 1.5em;
      }

      .logo-text {
        font-size: 1.5rem;
        font-weight: 600;

          .dark-theme & {
            color: $DM-Title;
          }
        

          .light-theme & {
            color: $LM-Title;
          }
      }
    }

    .nav-right {
      display: flex;
      gap: 1.5rem;
      align-items: center;
    }
  }
}