// ─── App Layout + Theme Wrappers ──────────────────────────────────────────────

.App {
  transition: background-color 0.3s ease;
}

.light-theme {
  background-color: var(--BgLight);
  color: var(--LM-Title);
}

.dark-theme {
  background-color: var(--BgDark);
  color: var(--DM-Title);
}